KINDE_CLIENT_ID=b6e0681eb22b49e38b96775c046983ae
KINDE_CLIENT_SECRET=wXXs0f4cx4MyUgvYK2OoOVfINuGMguhQPXv3HgWkVUPpSBbc2y
KINDE_ISSUER_URL=https://saasappdemo.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

NEXT_PUBLIC_SUPABASE_URL=https://oyuscbbkzjffcpritzrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95dXNjYmJrempmZmNwcml0enJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTkyMDAyMjAsImV4cCI6MjAzNDc3NjIyMH0.X_4Qrw88O6EojCesl7RiPn7bcM9BOQKxQiNr85P_Yuc

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.oyuscbbkzjffcpritzrq:w.nJN5Q32yYGyVu@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.oyuscbbkzjffcpritzrq:w.nJN5Q32yYGyVu@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
        